/* Estilos para el encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Estilos para el contenido principal */
main {
    padding: 2em;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
